*{
  box-sizing: border-box;
main{
  font-family: 'Helvetica Now', sans-serif;
   video{
    width : 100%;
  }
  .moduleList{
    .styleA{
      position : relative;
      padding : 0 28px;
      height : 825px;
      .moduleHead{
        height : 45px;
        display : flex;
        justify-content: space-between;
        font-size : 30px;
        font-weight : 700;
        margin-bottom : 28px;
        .arrowBox{
          width : 90px;
          display : flex;
          justify-content: space-between;
          button{
            width : 22px;
            height : 22px;

            background-image : url(/Images/Main/Arrow.svg);
          }
          .leftArrow{
            transform : rotate(180deg);
          }
        }
      }
      .moduleItemList{
        height : 100%;
        display : flex;
        overflow : -moz-hidden-unscrollable;
        transform : translate(0px, 0);
        .itemBox1{
          height : 570px;
          margin-right : 30px;
          display : flex;
          align-items: center;
          min-width : 1140px;
          img{
            width : 700px;
            height : 570px;
          }
          .itemTextBox{
            padding-left :50px;
            .itemName{
              margin-bottom : 12px;
              font-size : 36px;
              font-weight : 700;
            }
            .itemDESC{
              margin-bottom : 24px;
              font-size : 18px;
              font-weight : 600;
            }
            .itemButtonBox{
              .itemButton{
                margin-right : 25px;
                min-width : 120px;
                border: 1px solid orange;
                font-weight: 700;
                font-size : 16px;
                color : orange;
                padding : 6px 10px 6px 10px;
                background-color: transparent;
              }
            }
          }
        }
        .itemBox2{
          display : flex;
          flex-wrap : wrap;
          height : 900px;
          img{
            width : 400px;
            height : 515px;
          }
          .itemTextBox{
            .itemName{
              margin-bottom : 12px;
              font-size : 36px;
              font-weight : 700;
            }
            .itemDESC{
              margin-bottom : 24px;
              font-size : 18px;
              font-weight : 600;
            }
            .itemButtonBox{
              .itemButton{
                margin-right : 25px;
                min-width : 120px;
                border: 1px solid orange;
                font-weight: 700;
                font-size : 16px;
                color : orange;
                padding : 6px 10px 6px 10px;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .styleB{
    position : relative;
    display : flex;
    height : 825px;
    .moduleHead{
      display : flex;
      justify-content: space-between;
      padding : 0 20px;
      font-size : 20px;
      font-weight : 700;
      margin-bottom : 20px;
    }
    .moduleAside{
      position : relative;
      order : 1;
      .asideImage{
        width : 918px;
        height : 610px;
        background-image: url(/Images/Main/m2_i1.jpg);
        background-size : 100%, 100%;
      }
      .asideName{
        position : absolute;
        z-index: 1;
        top : 50px;
        left : 50px;
        color : white;
        font-size : 62px;
        font-weight: 700;
        width : 320px;
      }
    }
    .moduleItemList{
      min-width : 600px;
      min-height : 600px;
      display : flex;
      flex-wrap : wrap;
      .itemBox{
        display : flex;
        flex-wrap : wrap;
        justify-content: center;
        align-items: center;
        width : 300px;
        height : 300px;
        padding : 16px;
        img{
          width : 160px;
          height : 160px;
        }
        .itemTextBox{
          text-align: center;
          .itemName{
            margin-bottom : 2px;
            font-size : 14px;
            font-weight : 700;
          }
          .itemDESC{
            margin-bottom : 20px;
            font-size : 18px;
            font-weight : 600;
            color : gray;
          }
          .itemButtonBox{
            .itemButton{
              min-width : 120px;
              border: 1px solid orange;
              font-weight: 700;
              font-size : 16px;
              color : orange;
              padding : 6px 10px 6px 10px;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
}