@import "../../Styles/common.scss";
@import "./Components/module.scss";

main{
  .mainBannerBox{
    position: relative;
    
    video{
      overflow: hidden;
      width: 100%;
    }
    
    .whiteBox{
      z-index: 1;
      @include setAbsolute(null, null, 0);
      @include setSize(100%, 190px);

      background-color: $white;
    }
  }

  .styleA{
    @include moduleContainerSetting;
    max-width : 1796px;

    .moduleHead{
      @include moduleHead(1);
    }
    .moduleItemList{
      @include setFlex(null, null, nowrap);
      overflow: hidden;

      .itemBox{
        @include itemImgSetting(700px, 570px);
        @include itemName(36px, 12px);
        @include itemDESC(18px, 24px);
        @include button;
      }

      .itemBox1{
        @include setFlex(null, center);
        @include setSize(1140px, 570px);
        margin-right: 70px;

        .itemImage{
          width: 700px;
          margin-right: 80px;
        }

        .itemnoteBox{
          @include setFlex(null, center, wrap);
          .itemTextBox{
            width: 310px;
          }
        }
      }

      .itemBox2{
        width: 400px;
        margin-right: 70px;

        .itemImage{
          width: 400px;
          margin-bottom: 30px;
        }
      }

      .itemBox3{
        .itemImage{
          @include setSize(430px, 554px);
        }
      }

      .itemBox4{
        .itemImage{
          @include setSize(480px, 618.84px);
        }
      }

      .itemBox5{
        .itemImage{
          @include setSize(370px, 446.78px);
        }
      }
    }
  }

  .styleB{
    position: relative;
    @include moduleContainerSetting();
    
    .moduleHead{
        position: absolute;
        @include moduleHead();
      }

    .moduleMain{
      display: flex;

      .moduleAside{
        order: 1;
        @include setSize(960px, 620px);
        margin: 16px;
        padding: 50px;
        background-image: url(/Images/Main/B_aside.jpg);
        background-size: 100% 100%;
        @include asideName(50px, 0, 700, $white);
      } 

      .moduleItemList{
        @include setFlex(null, flex-end, wrap);
        width: 600px;
        margin: 0 25px;

        .itemBox{
          @include setFlex(center, null, wrap);
          @include setSize(300px, 300px);
          padding: 16px;
          @include itemImgSetting(170px, 170px);

          .itemnoteBox{
            @include setFlex(center, null, wrap);
            height :60px;
            @include button;

            .itemTextBox{
              @include setFlex(center, null, wrap);
              @include itemName(14px, 2px);
              @include itemDESC(14px, 8px);
            }
          }
        }
      }
    }
  }

  .styleC{
    position: relative;
    @include moduleContainerSetting;

    .moduleHead{
      @include moduleHead;
    }

    .moduleMain{
      display: flex;

      .moduleItemList{
        display: grid;
        grid-template-rows: repeat(2, 320px);
        grid-template-columns: repeat(6, 256px);
        margin: 0 auto;

        .itemBox{
          @include setFlex(center, flex-end, wrap);
          @include itemImgSetting(170px, 170px, 10px);
          @include button;
        }

        .itemBox1{
          @include gridPosition(1, 2, 1, 2);
          @include setSize(512px, 640px);
          margin: 0;
          padding: 0 70px;
          @include itemImgSetting(262px, 262px);

          .itemnoteBox{
            display: flex;
            margin: 120px 0 12px 0;
            @include button;
          }
        }

        .itemBox2{
          @include gridPosition(3, 4, 1, 2);
          @include setSize(512px, 640px);
          margin: 0;
          padding: 0 70px;
          @include itemImgSetting(262px, 262px, 120px);

          .itemnoteBox{
            display: flex;
            margin-bottom: 12px;
            @include button;
          }
        }

        .itemBox3{
          @include gridPosition(5, 5, 1, 1);
        }

        .itemBox4{
          @include gridPosition(6, 6, 1, 1);
        }  

        .itemBox5{
          @include gridPosition(5, 5, 2, 2);
        }

        .itemBox6{
          @include gridPosition(6, 6, 2, 2);
        }
      }
    }
  }

  .styleD{
    position: relative;
    @include setFlex(null, flex-end);
    @include setSize(1460px, 875px);
    @include moduleContainerSetting(140px, 80px);
    padding: 80px;
    background: $mediumgray;
    
    .moduleHead{
      @include setAbsolute(50px);
      @include moduleHead;
    }

    .moduleMain{
      display: flex;

      .moduleAside{
        order: 1;
        @include setFlex(null, center, wrap);
        width: 360px;
        margin-left: 100px;
        @include asideName(36px, 15px);
        @include asideDESC(22px);
      }

      .moduleItemList{
        display: flex;
        align-items: flex-end;

        .itemBox{
          width: 395px;
          margin-right: 40px;  
          @include itemImgSetting(395px, 451.42px, 30px);
          @include itemName(32px, 4px);
          @include itemDESC(16px);
          @include button;
        } 
      }
    }
  }

  .styleE{
    @include setSize(100%, 740px);
    margin-bottom: 140px;

    .moduleHead{
      z-index: 1;
      position:  absolute;      
      @include moduleHead(1);
    }

    .moduleItemList{
      display: flex;
      overflow: hidden;

      .itemBox{
        position:  relative;
        min-width: 100%;
        @include setSize(100%, 100%);
        @include itemImgSetting(100%, 100%);

        .itemnoteBox{
          @include setAbsolute(0, 50%);
          @include setFlex(null, center, wrap);
          @include setSize(460px, 100%);
          @include button;
          
          .itemTextBox{
            color : $white;
            @include itemName(36px, 14px);
            @include itemDESC(16px, 25px);
          }
        }
      }
    }
  }

  .styleF{
    position: relative;
    @include moduleContainerSetting(140px,150px);
    
    .itemBox{
      display: flex;
      @include setSize(1150px, 574px);
      @include itemImgSetting(674px);

      .itemnoteBox{
        @include setFlex(null, center, wrap);
        width: 363px;
        margin-left: 30px;
        @include itemName(35px, 28px);
        @include itemDESC(16px);
        @include button;
      }
    }
    .itemBox2{
      margin-left: auto;
    }
  }

  .styleG{
    @include moduleContainerSetting;

    .moduleHead{
      @include moduleHead;
    }

    .moduleMain{
      display: flex;
      
      .moduleAside{
        @include setFlex(null, center, wrap);
        @include asideName(36px, 12px);
        @include asideDESC(16px, 25px);
        min-width: 400px;
        padding-right: 100px;
        background-color: white;
        z-index: 1;
      }

      .moduleItemList{
        display: flex;
        overflow: hidden;

        .itemBox{
          position:  relative;
          min-width: 670px;
          height :670px;
          margin-right: 30px;
          background-color: black;
          @include itemImgSetting(100%, 100%);
          @include button;

          .itemnoteBox{
            position: absolute;
            bottom: 0;
            padding: 10px 50px 110px;
            color: $white;

            .itemTextBox{
              width: 380px;
              @include itemName(36px, 12px);
              @include itemDESC(18px, 24px);
            }
          }
        }
      }
    }
  }
}