@import "./../../Styles/common.scss";

* {
	box-sizing: border-box;
}

.ProductList {
	font-family: "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include columnCenter;
	width: 100%;
	.productContainer {
		width: 1200px;
		padding: 0 40px;
	}

	header {
		margin-top: 20px;
		ul {
			display: flex;
			padding-bottom: 40px;
			font-size: 11px;
			li {
				&:after {
					margin: 0 5px 0 7px;
					content: ">";
				}
				&:last-child:after {
					content: "";
				}
			}
		}
		.mainHeading {
			margin-bottom: 20px;
			font-size: 48px;
			font-weight: 600;
		}
	}

	.refineByContainer {
		display: flex;
		height: 72px;
		margin-bottom: 50px;
		padding: 15px 0;

		.text {
			display: flex;
			align-items: center;
			margin-right: 30px;
			font-size: 15px;
			font-weight: 600;
		}
	}

	section {
		.productitemList {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
