.NextArrow {
	background: "https://www.t2tea.com/on/demandware.static/Sites-UNI-T2-APAC-Site/-/en_AU/v1598427800341/images/pdp-right.png"
		center no-repeat;
	width: 35px;
	height: 39px;
}

.PrevArrow {
	background: "https://www.t2tea.com/on/demandware.static/Sites-UNI-T2-APAC-Site/-/en_AU/v1598427800341/images/pdp-left.png"
		center no-repeat;
	width: 35px;
	height: 39px;
}
